<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    login ejs页面～～～～

    <div>
      <h1>推荐- <%=title%></h1>
    </div>
    <form action="/login" method="post">
      <label for="username">用户名</label>
      <input type="text" id="username" name="username" required />

      <label for="password">密码</label>
      <input type="password" id="password" name="password" required />

      <input type="submit" value="登录" />
    </form>
  </body>
</html>
