
      html,
      body {
        margin: 0;
        padding: 0;
        height: 100%;
        background-image: linear-gradient(to bottom, red, gold);
      }
      .box {
        width: 400px;
        height: 250px;
        background-color: rgba(255, 255, 255, 0.5);
      }
    